.dumpyard-text{
    font-family: 'BasementGrotesk';
    position: relative;
    float: left;
    top: 15vh;
    right: 7%;
    font-size: 4em;
    color: white;
}
.dumpyard p{
    color:rgb(115, 112, 150);
    font-family: 'HelveticaNowDisplayRegular';
    position: relative;
    top: 25vh;
    right: 34.5vw;
    float: left;
    font-size: 1.4em;
    
}