.about-heading {
  font-family: "BasementGrotesk";
  color: white;
  font-size: calc(2.4vw + 2.2vh + 1vmin);
  left: 30px;
  position: relative;
  top: 20px;
  margin-block-start: 0.8em;
  margin-block-end: 0.9em;
}
.about-div {
  height: auto;
  background-color: #0d05206c;
  width: 95%;
  display: flex;
  flex-direction: row;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: calc(5vw + 2.5vh + 1vmin);
}

.about-block {
  position: relative;
}
.about-image {
  position: absolute;
  height: 95%;
max-width:600px;
  top: 17px;
  right: 15px;
  border-radius: 14px;

  overflow: hidden;
}
.about-me{
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.about-block h3 {
  color: #e268af;
  font-size: calc(1vw + 0.4vh + 0.5vmin);
  font-family: "Roobert-Medium";
  position: relative;
  width: 25vw;
  left: 20px;
  letter-spacing: 0.2px;
}
.about-block p {
  color: rgb(187, 184, 214);
  font-size: calc(0.6vw + 0.4vh + 0.5vmin);
  font-family: "Roobert-Regular";
  position: relative;
  width: 30vw;
  left: 20px;
  top: -20px;
  line-height: calc(1.2vw + 0.4vh + 0.5vmin);
}
.about-block h4 {
  color: #b8abc9;
  font-size: calc(0.8vw + 0.4vh + 0.5vmin);
  font-family: "Roobert-Regular";
  position: relative;
  width: 80vw;
  left: 20px;
  margin-block-start: 0.1em;
  margin-block-end: 0.1em;
}
.about-block h2{
  color: #e268af;
  font-size: calc(1.4vw + 0.4vh + 0.5vmin);
  font-family: "Roobert-Regular";
  position: relative;
  width: 80vw;

  margin-block-start: 0.1em;
  margin-block-end: 1em;
}

.about-block a{
  color: #e268af;
  text-decoration: none;
  letter-spacing: 0.4px;
  cursor: url('../Assets/cursor.svg'), auto;
}


@media screen and (max-device-width: 1181px) {
  .about-div {
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .about-image {
  
    position: absolute;
   height: 96%;
  width: 50%;
  top: 16px;
  right: 16px;
  border-radius: 14px;

  }
}

@media screen and (max-device-width: 1170px) {
  .about-block {
    position: relative;
  }
  .about-div {
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .about-image {
    position: absolute;
  height: 95%;
  width: 50%;
  top: 15px;
  right: 15px;
  border-radius: 20px;
  
  }
  .about-block h3 {
    width: 40%;
  }
  .about-block p {
    font-size: 14px;
    width: 40%;
  }
}
@media screen and (max-device-width: 830px) {
  .about-block {
    position: relative;
  }
  .about-div {
    
    height: 120vh;
    display: flex;
    flex-direction: column;
  }
  .about-image {
    
    position: relative;
    max-width:95%;
    width: 100%;
    top: 18px;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    border-radius: 18px;
   
  }
  .about-block h3 {
    width: 90%;
    font-size: calc(3vw + 0.4vh + 0.5vmin);
  }
  .about-block h2{
    
    font-size: calc(3vw + 0.4vh + 0.5vmin);
  }
  .about-block h4 {
    
    font-size: calc(2vw + 0.4vh + 0.5vmin);
  }
  .about-block p {
    font-size: calc(1.5vw + 0.4vh + 0.5vmin);
    line-height:calc(3vw + 0.4vh + 0.5vmin);
    width: 94%;
  }
}

@media screen and (min-device-width: 312px) and (max-device-width: 600px){
  .about-div {
   
    width: 99%;
   
  }
  .about-div{
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .about-image {
    top: 15px;
    position: relative;
    height: 350px;
    width: 93%;
    margin-top: 0px;
    border-radius: 15px;
  }
  .about-block p{
    font-size: 16px;
    margin-block-start: 0.4em;
    margin-block-end: -0.4em;
    left:15px;
    line-height: 26px;
  }
  .about-block h3{
    font-size: 26px;
    left:15px;
    margin-block-start: 1em;
    margin-block-end: 1em;
  }
  .about-block h2{
    
    font-size: 28px;
  }
  .about-block h4 {
    
    font-size: 20px;
  }
  .about-heading{
    font-size: 40px !important;
    width: 80%;
    margin-block-start: 0.8em;
    margin-block-end: 1em;
    left: 10px;
  }
  .about-block h4{
    left:15px;
    margin-block-start: 0.8em;
    margin-block-end: 1em;
  }
 
}

