.dumpyard-sec{
    justify-content: space-around;
    text-align: left;
    width: 83vw;
    position: relative;
    left: 8%;
    margin-top: 110vh;
    margin-bottom: 15vh;
    
}
.dumpyard-div-img{
    height:65vh;
    position: absolute;
    top: 0px;
  right: 0px;
  
    
}

.dump-div
{
    height:65vh;
    background-color: #7140F2;
    width: 100%;
    border-radius: 20px;
}
.dump-text{
    position: relative;
    top: 15%;
    right: 2%;
    font-family: 'BasementGrotesk';
    font-size: 65px;
    color: white;
    text-align: left;
    margin: 8% ;
    
    width: 35%;
}
.dump-div p {
    position: relative;
    top: -5%;
    right: 2%;
    font-family: 'HelveticaNowDisplayRegular';
    color: white;
    font-size: 18px;
    display: -webkit-box;   
    -webkit-line-clamp: 8;   
    -webkit-box-orient: vertical;     
    overflow: hidden; 
    width:35%;
    margin:8%;
}
.button1{
    position: relative;
    text-decoration: none;
    top: 2%;
    right: 2%;
    font-family: 'HelveticaNowDisplayRegular';
    font-size: 18px;
    color: white;
    text-align: left;
    margin: 8% ;
   border: 1px white solid;
   padding: 14px 28px;
   border-radius: 8px;
   transition: all 0.2s ease 0s;
}
.button2 {
    text-decoration: none;
    position: relative;
    top: 2%;
    right:16%;
    font-family: 'HelveticaNowDisplayRegular';
    font-size: 18px;
color: white;
    text-align: left;
    margin: 8% ;
   border: 1px white solid;
   padding: 14px 28px;
   border-radius: 8px;
   transition: all 0.2s ease 0s;
}
.button2:hover{
color: #7140F2;
background-color: white;
cursor: pointer;
}

.button1:hover{
    color: #7140F2;
    background-color: white;
    cursor: pointer;
    }
    


