body {
  overflow-x: hidden; /* Hide scrollbars */
}

.container-more-work {
 margin-bottom: calc(5vw + 5vh + 5vmin);
}

.work-list-swipe-mw {
  position: relative;
  width: 95%;
  height: 50vh;
  margin-left: auto;
  margin-right: auto;
}

.more-work {
  position: relative;
  top: 20px;
  padding: 10px;
  display: flex;
}

.more-work-heading {
  -webkit-text-stroke-width: 0.7px;
  -webkit-text-fill-color: transparent;
  font-family: "BasementGrotesk";
  color: white;
  font-size: calc(2.4vw + 2.2vh + 1vmin);
  width: 70%;
  position: relative;
  margin-block-start: 0.4em;
  margin-block-end: 0em;
}

.more-work-heading-div {
  width: 100%;
  position: relative;
  top: 10px;
  left: 30px;
  margin-top: 80px;
}
.more-work-heading-div p {
  font-family: "Roobert-Regular";
  margin-block-start: 0em;
  margin-block-end: 3em;
  color: rgb(187, 184, 214);
  font-size: calc(0.6vw + 0.4vh + 0.5vmin);
  width: 60%;
}

.cantshow-img {
  width: 30%;
  right: 15%;
  top: 40px;
  position: absolute;
}
.lock {
  width: 22px;
  height: 22px;
  position: relative;
  top: 2px;
  margin-left: 10px;
  color: white;
  display: none;
}

.password-input {
  
  background-color: rgba(21, 8, 45, 0);
  border: 1px solid rgba(212, 212, 212, 0.322);
  padding: 15px 10px;
  border-radius: 100px;
  font-family: "Roobert-Regular";
  color: rgba(255, 255, 255, 0.705);
  font-size: calc(0.6vw + 0.4vh + 0.5vmin);
  width: 350px;
  
  transition: opacity .2s  ease-in-out;
  
} 



.key-div{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.2s ease-in-out 0s;
  transform: translateY(8px);
}


.project-mw {
  width: 99%;
  position: relative;
  background-color: #15102c;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  height: calc(16vw + 2vh + 2vmin);
}

.project-image-mw {
  position: absolute;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;

  border-radius: 20px;
  overflow: hidden;
}
.project-image-mw img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.project-logo-mw {
  width:90px;
  height:  auto;
  margin-left: 10px;
  margin-top: 10px;
  position: absolute;
  
}

.project-logo-cover {
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: 585484;
}



.project-image-cover {
  object-fit: cover;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s  ease-in-out;
}
.project-mw:hover .grad-overlay-sm-mw, .project-mw:hover .project-description-mw,.project-mw:hover .password-input {
  visibility: visible;
  opacity: 1;
  color: rgb(255, 255, 255);
}
.project-mw:hover .key-div{
  transform: translateY(0px);
 
}



.project-description-mw {
  margin-block-start: 0.8em;
  font-size: calc(1vw + 0.5vh + 1vmin);
  color: rgb(196, 196, 196);
  font-family: "Roobert-Regular";
  position: absolute;
  bottom: -10px;
  z-index: 8888;
  left: 20px;
  width: 90%;
}
.project-name-desc {
  position: relative;
  width: 80%;
  left: 12px;
  bottom: -5px;
}
@media screen and (max-device-width: 1400px)
{
  .project-mw {
    width: 99%;
    position: relative;
    background-color: #15102c;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    height:350px;
  }
  .project-description-mw {
    margin-block-start: 0.8em;
    font-size: calc(1vw + 0.5vh + 1vmin);
    color: rgb(196, 196, 196);
    font-family: "Roobert-Regular";
    position: absolute;
    bottom: -10px;
    z-index: 8888;
    left: 20px;
  }
  .work-list-swipe-mw{
    height: 50vh;
  }

}


@media screen and (max-device-width: 1200px) {
  .password-input {
    font-size: 16px;
    padding: 10px 15px;
    width:100px;
    left: calc(0.6vw + 0.4vh + 0.5vmin);
    bottom: calc(1vw + 0.4vh + 0.5vmin);
  }
  
  .more-work-heading-div p {
    font-family: "Roobert-Regular";
    margin-block-start: 0em;
    margin-block-end: 3em;
    color: rgb(187, 184, 214);
    font-size: 16px;
    width: 60%;
  }
  
  .work-list-swipe-mw {
    height: 450px;
  }
  .project-mw {
    width: 99%;
    position: relative;
    background-color: #15102c;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    height:350px;
  }
  .project-name-mw {
    margin-block-start: 0.8em;
   font-size: 22px; 
    color: rgb(187, 184, 214);
    font-family: "Roobert-Regular";
  }
  
  .project-description-mw {
    margin-block-start: 0.8em;
   font-size: calc(1vw + 1.2vh + 1vmin); 
    color: rgb(187, 184, 214);
    font-family: "Roobert-Regular";
  }
  
}

@media screen and (max-device-width: 830px) {  
  
  .password-input {
    font-size: 16px;
    width:150px;
    left: calc(0.6vw + 0.4vh + 0.5vmin);
    bottom: calc(0.6vw + 0.4vh + 0.5vmin);
  }
  .project-name-mw {
    font-size: 24px
  }
  .project-description-mw {
    margin-block-start: 0.8em;
   font-size: 18px; 
    color: rgb(187, 184, 214);
    font-family: "Roobert-Regular";
  }
  
  .project-mw {
  width: 99%;
  position: relative;
  background-color: #15102c;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  height:420px;
}

  .container-more-work {
    padding-bottom: 20px;
  }
  .work-list-swipe-mw {
    height:520px;
  }
  .more-work-heading-div p {
    width: 90%;
    font-size: 20px;
  }
  .more-work-heading {
    left: 0;
    width: 100%;
  }
  .cantshow-img {
    width: 40%;
    right: 20%;
    top: 5px;
    position: absolute;
  }
  .more-work-heading-div {
    width: 90%;
    left: 20px;
  }
}

@media screen and (min-device-width: 312px) and (max-device-width: 600px) {
  .password-input {
    font-size:20px;
    padding: 18px 18px;
    width:140px;
    left: calc(0.6vw + 0.4vh + 0.5vmin);
    bottom: calc(1vw + 0.4vh + 0.5vmin);
  }
  .project-image-mw {
    position: relative;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 18px;
    overflow: hidden;
  }
  .project-mw {
    
    width: 99%;
    position: relative;
    background-color: #15102c;
    border: 1px solid hsla(0,0%,100%,.2);
    border-radius: 20px;
    height: 350px;
}
   .project-description-mw {
    width: 94%;
    font-size: calc(1vw +  2vh + 2.5vmin);
    left: 15px;
    position: absolute;
  }
  .work-list-swipe-mw {
    width: 100%;
    height: 60vh;
  }

  .project-name-mw {
    left: calc(0.6vw + 0.4vh + 0.5vmin);
    position: relative;
  }

  .more-work-heading-div {
    width: 100%;
    position: relative;
    top: 10px;
    left: 0px;
    margin-top: 60px;
  }

  .more-work-heading {
    font-size: 40px;
    width: 100%;
    margin-block-start: 0em;
    margin-block-end: 0.3em;
  }
  .cantshow-img {
    width: 250px;
    right: 15px;
    top: 00px;
    position: absolute;
  }
  .container-more-work {
    padding-bottom: 30px;
  }
  .more-work-heading-div p {
    font-size: 16px;
    width: 100%;
  }
  .secret-key{
    width: 100%;
    color: rgb(255, 255, 255);
    
    font-family: "Roobert-Regular";
    font-size: calc(1.5vw + 1.5vh + 1.5vmin);
    text-align: center;
    margin-block-start:0.5em;
    margin-block-end: 0.5em;
    transition: all 1.5s linear;
  }
  .arrow{
    width: 50px !important;
  }
  .project-logo-mw {
    width: 90px;
    height: 90px;
    margin-left: 10px;
    margin-top: 15px;
    position: absolute;
    overflow: hidden;
  }
  
}
