.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: rgb(18, 18, 34);
  min-height: 100vh;
 
}

@font-face {
  font-family: 'BasementGrotesk';
  src: url(../src/Assets/Fonts/BasementGrotesque-Black_v1.202.woff2);
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
