body{
    cursor: url("./Assets/cursor.svg"),auto;
    
}
    ::-webkit-scrollbar {
        width: 2px;

        background-color: rgba(226, 226, 226, 0.226);
    }
    ::-webkit-scrollbar-thumb {
        background: rgba(180, 166, 214, 0.452);
        border-radius: 10px;
      }

      ::selection {
        color: #7140f2;
        background: white;
      }
      